
/*--------------------*/
:root{
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --active-color:#404BBF;
    --akcent-color:#4D5AE5;
    --only-white:#ffffff;
    --button-bacgraund:#F4F4FD;
    --button-border:#E7E9FC;

    }

body{
    font-family: roboto;
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}


/* Header */
.logo{
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
}
.nav{
    list-style: none;
}
.nav .link{
    font-weight: 500;
    color: var(--title-text-color);
    text-decoration: none;
}
.nav .link:hover, .nav .link:focus{
    color: var(--akcent-color);
}
.address{
    list-style: none;   
}
.address .link{
    font-style: normal;
    color: var(--primary-text-color);
    text-decoration: none;
    }
.address .link:hover, .address .link:focus{
    color: var(--akcent-color);
}

/* main */
.hero{
    width: 1440px;
    left: 0px;
    top: 72px;
    background-color:var(--title-text-color);
   
}
.order{
    background-color:var(--akcent-color);
    color: var(--only-white);
    border: none;
    font-family: roboto;
}
.order:hover, .order:focus{
    background-color:var(--button-bacgraund);
    color: var(--akcent-color);
    border: 1px solid var(--button-border);
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--only-white);
    text-align: center;
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
}

.section-list{
    list-style: none;
    
 }

.section-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
}

.section-title-small{
   font-weight: 500;
   font-size: 20px;
   color: var(--title-text-color);
}

/* Footer */

.footer{
    background-color:var(--title-text-color);
}
.logo-footer{
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
}
.footer-text{
    letter-spacing: 0.02em;
    color: var(--button-border)
}
.button-filter{
    font-family: roboto;
    cursor: pointer;
    background: var(--button-bacgraund);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--akcent-color);
    padding:  12px 24px 12px 24px;
}

.button-filter:hover, .button-filter:focus{
    background: var(--akcent-color);
    color: var(--only-white);
}

